<link rel="shortcut icon" href="{{ site.url | prepend: site.url }}/assets/images/favicons/favicon.ico" type="image/x-icon">
<link rel="apple-touch-icon" type="image/png" sizes="180x180" href="{{ site.url | prepend: site.url }}/assets/images/favicons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="{{ site.url | prepend: site.url }}/assets/images/favicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="{{ site.url | prepend: site.url }}/assets/images/favicons/favicon-16x16.png">
<link rel="icon" type="image/svg+xml" href="{{ site.url }}/assets/images/favicons/favicon.svg">
<link rel="manifest" href="{{ site.url | prepend: site.baseurl }}/site.webmanifest">
